body,div,a,img,article,header,p,ul,li {margin:0px;padding:0px;}
a,a:hover,a:visited {text-decoration:none;color:inherit;}


.fdbc_list .fdbc_item {height:47px;line-height:30px;padding:7.5px 15px;background-color:#fff;border-bottom:1px solid #2dabec;}
.fdbc_list .fdbc_item span {display:inline-block;}
.fdbc_list .fdbc_item .type {width:50px;height:30px;line-height:30px;font-size:14px;border-radius:5px;text-align:center;color:#fff;margin-right:20px;}

.fdbc_list .detail {padding:10px 15px;margin-bottom:15px;background-color:#fff;}
.fdbc_list .detail div {width:36%;height:30px;line-height:30px;display:inline-block;text-align:center;margin:0px 6%;border-bottom:1px solid #ccc;font-size:14px;text-align: left;}
.fdbc{font-size: .7em;color: #888;}

.icon-right{
    position: relative;
    left: 290px;
}

textarea{
    margin-top: 15px;
    border-style: none;
}

img{
    margin-top: 25px;
    margin-left: 33px;
}

#back{
    margin-top: 10px;
}

.up{
    margin-top: -17px;
}